* {
	margin: 0;
	padding: 0;
}

img {
	width: 400px;
	height: 250px;
	margin-bottom: 10px;
}
h1 {
	margin-bottom: 30px;
	display: inline-flex;
}

h2 {
	color: blue;
	margin-top: 15px;
	margin-bottom: 15px;
}
p {
	font-size: 18px;
}

.h3 {
	color: black;
	background: rgba(255, 255, 255,.6);
	margin-bottom: 10px;

}
.container {
	color: blue;
	margin-bottom: 20px;
}

h3 {
	display: inline-flex;
}
input[type="text"],input[type="number"] {
	width: 300px;
	height: 40px;
	margin-bottom: 13px;
}

button {
	background-color: gold;
	width: 400px;
	height: 40px;
	margin-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar{
	background: linear-gradient(to right,red,yellow,green,blue,purple,red);
	background-size: 400%;
	width: 400px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 800;
	animation: 10s raj linear infinite;
	position: fixed;
}
@keyframes raj
{
	0%
	{
		background-position: 0%;
	}
	100%
	{
		background-position: 400%;
	}

}

.container3 {
	margin-left: 30px;
}

.hr {
	padding: 6px;
	color: green;
	font-size: 30px;
}

.dr {
	padding: 6px;
	color: red;
	font-size: 30px;
}

.pr {
	color: blue;
	font-size: 30px;
	margin-bottom: 20px;
}

.hr:hover {
	color: red;
}

.dr:hover {
	color: gold;
}

.pr:hover {
	color: black;
}

.container4 {
	background-color: rgba(21, 92, 245,.8);
	text-align: center;
	margin-top: 20px;
	width: 400px;
}

.nr {
	margin-left: 80px;
	color: blue;
	font-size: 30px;
}

.sr {
	margin-left: 10px;
	color: red;
	font-size: 30px;
}

.ha {
	margin-left: 10px;
	color: green;
	font-size: 30px;
}

.nr:hover {
	color: firebrick;
}

.sr:hover {
	color: fuchsia;
}

.ha:hover {
	color: gold;
}

.container7 {
	color: red;
	font-size: 20px;
}

.container8 {
	color: gold;
}

.container5:hover {
	background-color: transparent;
}

button:hover {
	background-color: transparent;
}

input[type="submit"] {
	background-color: gold;
	width: 300px;
	height: 40px;
	margin-bottom: 20px;
}

.container5 {
	width: 300px;
}